/* public/styles/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS for the navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center; /* Center the text */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Display the list horizontally */
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block; /* Display the links horizontally */
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.map {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.map h1 {
  text-align: center;
  margin-bottom: 20px;
}


.map-pieces {
  position: relative;
  width: 808px; 
  height: 808px; 
  margin: 2% auto; 
}

.map-piece {
  position: absolute;
  width: 100%; 
  height: 100%; 
  cursor: pointer;
  transition: filter 0.3s;
}

.map-piece {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.map-piece.selected {
  filter: brightness(50%);
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button#okBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 30px; /* Increased font size */
  margin-right: 20px; /* Add some space between the buttons */
}

button#resetBtn {
  background-color: #f44336;
  color: white;
  border: none;
  font-size: 30px; /* Increased font size */
}
